.moviePage{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.currentMovie {
    width: 75%;
    height: 550px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgb(236, 145, 20);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
[data-theme='dark'] .currentMovie{
    background-color: #283f57;
    color:snow;
}
[data-theme='light'] .currentMovie{
    background-color:#DEE4E7;
    color: #37474F;

}
